/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 1em Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 0.5em;
}

header {
  font-size: 2em;
  height: 1em;
  background-color: #2C3E50;
  padding-top: 0.4em;
  padding-bottom: 0.8em;
  text-align: left;
}

header .extra i.fa {
  font-size: 1.5em;
  color: #65C6BB;
}

#menu-btn {
  display: none;
  float: right;
  color: #f0f0f0;
}

#menu, #social-menu {
  display: none;
  font-size: 1.25em;
  background-color: #C5EFF7;
}

#social-menu a {
  text-decoration: none;
  margin-left: 1em;
}

#social-menu i.fa {
  color: #fefefe;
  font-size: 1.5em;
  color: #336E7B;
}

#menu a {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.2em;
  color: #1E8BC3;
}

#menu a.social {
  display: inline-block;
}

#menu a.social i.fa {
  font-size: 1.5em;
  color: #336E7B;
}

main {
  color: #555555;
  padding: 1em 0;
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.5em;
}

main h2 {
  color: #336E7B;
  font-size: 1.3em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #F9690E;
}

.title a:hover {
}

.header a.extra {
  font-size: 0.7em;
  color: #fafafa;
  margin-left: 1em;
}

.header a.extra:hover {
  border-bottom: 2px solid #36D7B7;
}

.header a.social:hover {
  border-bottom: none;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
  text-decoration: none;
}

.footer .contact a i.fa {
  font-size: 1.35em;
  margin-left: 1em;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

#social-btn {
  display: none;
}

@media screen and (max-width: 655px) {
  header {
    font-size: 1.5em;
  }

  #social-btn {
    display: inline-block;
  }

  .social {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  p.meta {
    display: none;
  }

  #menu-btn {
    display: inline-block;
  }

  .extra {
    display: none;
  }

  #social-btn {
    display: none;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
